In [105]:
import numpy as np
import pandas as pd

In [106]:
df = pd.read_csv("house-prices.csv")

In [107]:
df.iloc[:, 1] = df.iloc[:, 1]/1000
df

C:\Users\anula\AppData\Local\Temp\ipykernel_6680\2118218627.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0      114.3
1      114.2
2      114.8
3       94.7
4      119.8
       ...
123    119.7
124    147.9
125    113.5
126    149.9
127    124.6
Name: Price, Length: 128, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.iloc[:, 1] = df.iloc[:, 1]/1000

     Home  Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0       1  114.3  1790         2          2       2    No         East
1       2  114.2  2030         4          2       3    No         East
2       3  114.8  1740         3          2       1    No         East
3       4   94.7  1980         3          2       3    No         East
4       5  119.8  2130         3          3       3    No         East
..    ...    ...   ...       ...        ...     ...   ...          ...
123   124  119.7  1900         3          3       3   Yes         East
124   125  147.9  2160         4          3       3   Yes         East
125   126  113.5  2070         2          2       2    No        North
126   127  149.9  2020         3          3       1    No         West
127   128  124.6  2250         3          3       4    No        North

[128 rows x 8 columns]

In [108]:
w = 0
b = 0
last = 1
seclast = 0
x = np.array(df.iloc[:,2])
y = np.array(df.iloc[:,1])
while(abs(last-seclast)>0.001):
    djw = 0
    djb = 0
    j = 0
    z = np.sum(y)
    a = np.sum(x)
    c = np.sum(x*x)
    j = (w*a - z + 128*b)**2
    djw = w*c - np.dot(y,x) + b*a
    djb = w*a - z + 128*b
    j = j/(2*128)
    djw = djw/128
    djb = djb/128
    print(j)
    seclast = last
    last = j
    new_w = w - 1e-7*djw
    new_b = b - 1e-7*djb
    w = new_w
    b = new_b

1088722.6878515622
385227.6163815276
136199.5658545091
48090.41349011677
16942.244657603955
5946.253535035955
2073.6382321505453
715.2659324501494
242.09226295465908
79.24743042887432
24.402019446795475
6.664486850797273
1.3875930878123746
0.11734645308630923
0.023919476869733572
0.20303596528600856
0.39279210165980455
0.5351867907991548
0.6303719870770261
0.6907209005421695
0.7279489514549646
0.7505703094199943
0.7641984788771208
0.7723679458813617
0.7772508962580279
0.7801644512278568
0.7819011378231072
0.7829357009149028
0.7835517797902029